<a href="https://colab.research.google.com/github/MStamirski/News/blob/main/DataPrep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import random as rnd

In [ ]:
import string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# First dataset

In [ ]:
news1 = pd.read_csv("drive/MyDrive/Colab_Notebooks/SDA_upskill/News/data/FakeNewsNet.csv")
news1

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1
...,...,...,...,...,...
23191,Pippa Middleton wedding: In case you missed it...,https://www.express.co.uk/news/royal/807049/pi...,www.express.co.uk,52,1
23192,Zayn Malik & Gigi Hadid’s Shocking Split: Why ...,hollywoodlife.com/2018/03/13/zayn-malik-gigi-h...,hollywoodlife.com,7,0
23193,Jessica Chastain Recalls the Moment Her Mother...,http://www.justjared.com/2018/01/17/jessica-ch...,www.justjared.com,26,1
23194,"Tristan Thompson Feels ""Dumped"" After Khloé Ka...",www.intouchweekly.com/posts/tristan-thompson-f...,www.intouchweekly.com,24,0
23195,Kelly Clarkson Performs a Medley of Kendrick L...,https://www.billboard.com/articles/news/bbma/8...,www.billboard.com,85,1

In [ ]:
news1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23196 entries, 0 to 23195
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          23196 non-null  object
 1   news_url       22866 non-null  object
 2   source_domain  22866 non-null  object
 3   tweet_num      23196 non-null  int64
 4   real           23196 non-null  int64
dtypes: int64(2), object(3)
memory usage: 906.2+ KB

In [ ]:
news1.drop(columns=['news_url', 'source_domain', 'tweet_num'], inplace = True)
news1

                                                   title  real
0      Kandi Burruss Explodes Over Rape Accusation on...     1
1      People's Choice Awards 2018: The best red carp...     1
2      Sophia Bush Sends Sweet Birthday Message to 'O...     1
3      Colombian singer Maluma sparks rumours of inap...     1
4      Gossip Girl 10 Years Later: How Upper East Sid...     1
...                                                  ...   ...
23191  Pippa Middleton wedding: In case you missed it...     1
23192  Zayn Malik & Gigi Hadid’s Shocking Split: Why ...     0
23193  Jessica Chastain Recalls the Moment Her Mother...     1
23194  Tristan Thompson Feels "Dumped" After Khloé Ka...     0
23195  Kelly Clarkson Performs a Medley of Kendrick L...     1

[23196 rows x 2 columns]

In [ ]:
news1['real'].value_counts()

1    17441
0     5755
Name: real, dtype: int64

In [ ]:
for n in [rnd.randint(0,23196) for i in range(0, 15)]:
  print(n, news1.loc[n,'title'], news1.loc[n,'real'])

15167 Has President Obama made racism worse? 0
11376 Clare Crawley Says She’s in Love After Leaving Bachelor Winter Games — But Who’s the Lucky Guy? 1
17973 Jennifer Aniston Jets Away After Failing To Rekindle With Brad Pitt – See The Photos 0
7481 A Definitive Timeline of Sarah Jessica Parker and Kim Cattrall’s Sex and the City Feud 1
16818 Watch Out, Kris! Caitlyn Jenner Plans To Launch Her Own Talk Show After Ex’s Chat Fest Flop 0
5114 Joe Scarborough and Mika Brzezinski get married in private ceremony 1
150 Heath Ledger 1
9408 Suri Cruise 2018: 12-Year-Old Wants to Start Acting Career?; Reports on Tom Cruise Custody & Disapproval of Katie Holmes’ Boyfriend Debunked 0
740 Duchess Meghan and Prince Harry Are Planning a U.S. Tour: Details! 0
13783 Sofia Vergara wants to sell you underwear and there is a good reason to buy it 1
1024 The 25 Most Memorable Grammy Looks of All Time 1
15908 Kirsten Dunst Takes the E!Q in 42, Talks “Soul Mate” Elle Fanning and “Aggressive” Sex Scene in The Beguiled 1
10657 Hackers Threaten to Leak Upcoming 'Pirates of the Caribbean' Unless Disney Pays Ransom: Reports 1
13002 Is Anne Hathaway pregnant? Star is 'expecting her first child with husband Adam Shulman' 0
13897 Prince Philip attends last official public engagement 1

# Second dataset

In [ ]:
news2 = pd.read_csv("drive/MyDrive/Colab_Notebooks/SDA_upskill/News/data/WELFake_Dataset.csv")
news2

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [ ]:
news2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72134 non-null  int64
 1   title       71576 non-null  object
 2   text        72095 non-null  object
 3   label       72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

In [ ]:
news2.rename(columns={'label': 'real'}, inplace = True)
news2.drop(columns=['Unnamed: 0', 'text'], inplace = True)
news2.dropna(inplace=True)
news2.reset_index(drop=True, inplace=True)
news2

                                                   title  real
0      LAW ENFORCEMENT ON HIGH ALERT Following Threat...     1
1      UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...     1
2      Bobby Jindal, raised Hindu, uses story of Chri...     0
3      SATAN 2: Russia unvelis an image of its terrif...     1
4      About Time! Christian Group Sues Amazon and SP...     1
...                                                  ...   ...
71571  Russians steal research on Trump in hack of U....     0
71572   WATCH: Giuliani Demands That Democrats Apolog...     1
71573  Migrants Refuse To Leave Train At Refugee Camp...     0
71574  Trump tussle gives unpopular Mexican leader mu...     0
71575  Goldman Sachs Endorses Hillary Clinton For Pre...     1

[71576 rows x 2 columns]

In [ ]:
news2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71576 entries, 0 to 71575
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   71576 non-null  object
 1   real    71576 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
news2['real'].value_counts()

1    36548
0    35028
Name: real, dtype: int64

In [ ]:
for n in [rnd.randint(0,71576) for i in range(0, 15)]:
  print(n, news2.loc[n,'title'], news2.loc[n,'real'])

52557 Philippines arrests Indonesian pro-Islamist militant in Marawi 0
27738 Estonia arrests suspected Russian FSB agent 0
52019 BREAKING: Man Brags on Facebook of Voting 3 Times… Then Reveals How He Did It 1
22345 BREAKING NEWS: SEBASTIAN GORKA OUT…Are Ivanka and Jared Behind His Resignation? 1
4688 Republican Senator Murkowski won't back 'repeal-only' health bill 0
14750 Ryan, Trump team discuss border tax at Capitol Hill meeting 0
11763 MILO Named LGBTQ Nation’s 2016 Person Of The Year - Breitbart 0
10772 Germany condemns latest North Korea missile test in strongest terms 0
8082  Trump’s Ignorance Is Going To Turn The GOP Convention Into A World Class Clusterf*ck 1
25492 Donald Trump kicks off final campaign day with Fla. rally 1
34780 Digital Lock Down: Google and Facebook Take Aim At ‘Fake News’ Websites: “The Establishment Is Scared Sh*tless” 1
17472 The Media Hysteria And Dishonesty On Trump Has Backfired—Mainstreaming The Dissident Right 1
58126 RADICAL, INTOLERANT Students Held College Administrators HOSTAGE…And No One Cared [VIDEO] 1
53798 Comment on Evidence that Hillary Clinton and her associates are satanists by traildustfotm 1
42419 Senate passes $602 billion defense authorization bill 0

# Third dataset (only fake news)

In [ ]:
news3 = pd.read_csv("drive/MyDrive/Colab_Notebooks/SDA_upskill/News/data/Fake.csv")
news3

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
news3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [ ]:
news3['real'] = 0
news3.drop(columns = ['text', 'subject', 'date'], inplace = True)
news3

                                                   title  real
0       Donald Trump Sends Out Embarrassing New Year’...     0
1       Drunk Bragging Trump Staffer Started Russian ...     0
2       Sheriff David Clarke Becomes An Internet Joke...     0
3       Trump Is So Obsessed He Even Has Obama’s Name...     0
4       Pope Francis Just Called Out Donald Trump Dur...     0
...                                                  ...   ...
23476  McPain: John McCain Furious That Iran Treated ...     0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...     0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...     0
23479  How to Blow $700 Million: Al Jazeera America F...     0
23480  10 U.S. Navy Sailors Held by Iranian Military ...     0

[23481 rows x 2 columns]

In [ ]:
news3['real'].value_counts()

0    23481
Name: real, dtype: int64

In [ ]:
for n in [rnd.randint(0,23481) for i in range(0, 15)]:
  print(n, news3.loc[n,'title'], news3.loc[n,'real'])

17128 COLLECTING THE MONEY FOR THE WALL? MEXICO STARTS CHARGING AMERICANS A FEE TO ENTER 0
18550 KATHY GRIFFIN Actually BRAGGED About Wanting To “Beat Down” 11-Yr Old Barron Trump 6 Months Ago 0
4300  BREAKING: RNC Pulls Funding For Trump — Is It All Over? 0
10031 #HurricaneHarvey Weather Channel Reporter Retrieves Flag But What He Does Next Will Make Your Day! [Video] 0
13783 Benghazi Survivor On Hillary Clinton: “I Don’t Think She Has A Soul” 0
4511  The King Of Anti-Hillary Trolling Is A Near Billionaire Whose Company Was Bought By Facebook 0
19394 HAWAIIAN RESTAURANT Gets Hammered With Negative Reviews After BANNING Trump Supporters: “You cannot eat here” 0
17633 WHOA! Is RINO Senator Mitch McConnell Behind Roy Moore “Hit Job”?…”I strongly, strongly suspect somebody out of the McConnell camp planted the story” 0
7946  Here’s What Rubio REALLY Said In That Viral Video Where Cruz’s Team Claims He Bashed The Bible (VIDEO) 0
17563 KATIE HOPKINS WARNS AMERICANS Of Grave Danger Ahead: “Do Not Let This Great Country Become The United Kingdom” [VIDEO] 0
773  Member Of Congress Educates Trump: ‘Our Job Is To Check You, Not Protect You’ (TWEETS) 0
20094 WOW! This Video Might Explain Why #UnfitHillary Is Taking Weekends Off From Campaigning…Caught Grasping For Railings, Table, Chairs, ANYTHING To Hold Herself Up 0
11  WATCH: Paul Ryan Just Told Us He Doesn’t Care About Struggling Families Living In Blue States 0
16993 BIG BROTHER: IRS Using Secret Cellphone Tracking Systems 0
7231  Fox News Guest Calls For Surveillance On Muslim Neighborhoods In Response to Capitol Shooting 0

# Fourth dataset (only real news)

In [ ]:
news4 = pd.read_csv("drive/MyDrive/Colab_Notebooks/SDA_upskill/News/data/True.csv")
news4

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [ ]:
news4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [ ]:
news4['real'] = 1
news4.drop(columns = ['text', 'subject', 'date'], inplace = True)
news4

                                                   title  real
0      As U.S. budget fight looms, Republicans flip t...     1
1      U.S. military to accept transgender recruits o...     1
2      Senior U.S. Republican senator: 'Let Mr. Muell...     1
3      FBI Russia probe helped by Australian diplomat...     1
4      Trump wants Postal Service to charge 'much mor...     1
...                                                  ...   ...
21412  'Fully committed' NATO backs new U.S. approach...     1
21413  LexisNexis withdrew two products from Chinese ...     1
21414  Minsk cultural hub becomes haven from authorities     1
21415  Vatican upbeat on possibility of Pope Francis ...     1
21416  Indonesia to buy $1.14 billion worth of Russia...     1

[21417 rows x 2 columns]

In [ ]:
news4['real'].value_counts()

1    21417
Name: real, dtype: int64

In [ ]:
for n in [rnd.randint(0,21417) for i in range(0, 15)]:
  print(n, news4.loc[n,'title'], news4.loc[n,'real'])

14983 Australian publisher delays book alleging China influence in Australia 1
19232 UNHCR chief meets with Rohingya refugees in Bangladesh camp 1
8362 Clinton attacks Trump's outreach to black voters in new ad 1
6123 Glad to see Obama go, Gulf Arabs expect Trump to counter Iran 1
8855 U.S. lawmakers to debate measures to block Boeing aircraft sale to Iran 1
4629 U.S. senator launches probe into five top opioid drugmakers 1
1570 Factbox: Trump on Twitter (Sept 25) - NASCAR, NFL, John Kelly, Puerto Rico, John McCain, Alabama 1
4150 Trump administration, world financial officials clash over trade 1
18224 Spain to make it easier for firms to move base from Catalonia as business alarm deepens 1
12320 Putin warns against U.S. strike on North Korea 1
3644 Trump asked two top intelligence officials to deny Russia collusion: Washington Post 1
15003 At least 61 dead, 300 injured by quake in Iran western province: state TV 1
14233 Iran's Rouhani urges France to remain "realistic, impartial" in Middle East 1
13075 Russia designates Radio Free Europe and Voice of America as 'foreign agents' 1
15817 Iceland's president asks leftist opposition leader to form new government 1

# Functions

In [ ]:
def prepare_text(text):
  chars_to_remove = string.punctuation + "‘’“”…"
  prepared_text = ''.join([char for char in text if char not in chars_to_remove])
  prepared_text = prepared_text.lower()
  
  return prepared_text

In [ ]:
def tokenize_text(text):
  tokenized_text = nltk.word_tokenize(text)

  stopwords = nltk.corpus.stopwords.words('english')
  stopwords.extend(['video', 'images', 'image', 'tweets', 'tweet', 
                    'imagestweets', 'reports', 'report', 'photos', 
                    'photo', 'details', 'breaking', 'news', 'whoa', 
                    'wow', 'watch', 'factbox'])
  tokenized_text = [word for word in tokenized_text if word not in stopwords]

  # get pairs with word and part of speech (pos) extended symbol
  word_pos_pairs = nltk.pos_tag(tokenized_text)
  
  # only 4 main parts of speech for lemmatizer, selection based on first character of pos
  part_of_speech_for_lemma = {
    'J': 'a',       # adjective
    'N': 'n',       # noun
    'R': 'r',       # adverb
    'V': 'v'        # verb
  }
  lemmatized_words = []
  lemmatizer = nltk.WordNetLemmatizer()
  for word_pos_pair in word_pos_pairs:
    lemmatized_words.append(lemmatizer.lemmatize(
        word_pos_pair[0], 
        part_of_speech_for_lemma.get(word_pos_pair[1][0], 's')  # 's' otherwise
    ))
    
  return ' '.join(lemmatized_words)

In [ ]:
def transform_news(text):
  result = prepare_text(text)
  result = tokenize_text(result)
  return result

In [ ]:
def add_transformed_news(dataset, col_source, col_target):
  df = dataset.copy()
  df[col_target] = df[col_source].apply(lambda x: transform_news(x))
  return df

# First dataset transformation

In [ ]:
news1 = add_transformed_news(news1, 'title', 'news')
news1

,title,real,news
0,Kandi Burruss Explodes Over Rape Accusation on...,1,kandi burruss explodes rape accusation real ho...
1,People's Choice Awards 2018: The best red carp...,1,people choice award 2018 best red carpet look
2,Sophia Bush Sends Sweet Birthday Message to 'O...,1,sophia bush send sweet birthday message one tr...
3,Colombian singer Maluma sparks rumours of inap...,1,colombian singer maluma spark rumour inappropr...
4,Gossip Girl 10 Years Later: How Upper East Sid...,1,gossip girl 10 year later upper east siders sh...
...,...,...,...
23191,Pippa Middleton wedding: In case you missed it...,1,pippa middleton wed case miss itpippa marries ...
23192,Zayn Malik & Gigi Hadid’s Shocking Split: Why ...,0,zayn malik gigi hadids shock split there chanc...
23193,Jessica Chastain Recalls the Moment Her Mother...,1,jessica chastain recall moment mother boyfrien...
23194,"Tristan Thompson Feels ""Dumped"" After Khloé Ka...",0,tristan thompson feel dump khloé kardashian re...
23195,Kelly Clarkson Performs a Medley of Kendrick L...,1,kelly clarkson performs medley kendrick lamars...

In [ ]:
for n in [rnd.randint(0,23196) for i in range(0, 15)]:
  print(n, news1.loc[n,'news'], news1.loc[n,'real'])

3073 gossip behind prince harry meghan markles wed explain 0
16083 adam sandler say mormon 0
15440 sarah paulson defend romance partner holland taylor 1
1456 luann de lesseps blame arrest longburied emotion 1
20862 lisa page squeal dnc server hack russia 0
13402 rihanna ton fun 0
10926 cheryl singer 1
17652 week transcript odierno chiarelli 1
9983 omarosa manigault newman say quit white house job wasnt fire 1
5396 here whats leave netflix may 2018 1
7477 george clooney want quit act reason 0
15509 donald trump inauguration artist wont perform ceremony include elton john celine dion john legend 0
3553 gwyneth paltrows goop issue rare response critic 0
13357 scott disick boast sex life sofia richie absolute dynamite 0
15206 married jason aldean kiss brittany kerr american idol reject delete twitter account 1

# Second dataset transformation

In [ ]:
news2 = add_transformed_news(news2, 'title', 'news')
news2

,title,real,news
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,1,law enforcement high alert follow threat cop w...
1,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,1,unbelievable obamas attorney general say charl...
2,"Bobby Jindal, raised Hindu, uses story of Chri...",0,bobby jindal raise hindu us story christian co...
3,SATAN 2: Russia unvelis an image of its terrif...,1,satan 2 russia unvelis terrify new supernuke –...
4,About Time! Christian Group Sues Amazon and SP...,1,time christian group sue amazon splc designati...
...,...,...,...
71571,Russians steal research on Trump in hack of U....,0,russian steal research trump hack us democrati...
71572,WATCH: Giuliani Demands That Democrats Apolog...,1,giuliani demand democrat apologize trump racis...
71573,Migrants Refuse To Leave Train At Refugee Camp...,0,migrant refuse leave train refugee camp hungary
71574,Trump tussle gives unpopular Mexican leader mu...,0,trump tussle give unpopular mexican leader muc...
71575,Goldman Sachs Endorses Hillary Clinton For Pre...,1,goldman sachs endorse hillary clinton president

In [ ]:
for n in [rnd.randint(0,71576) for i in range(0, 15)]:
  print(n, news2.loc[n,'news'], news2.loc[n,'real'])

24543 give new prominence charge libyan slave trade 0
43686 obama furious fedup deplorables drop 41000piece gift 1
9634 existential question trust 1
18083 george stephanopoulos brian williams medias sink reputation 0
2694 new expose clinton pay play voter fraud 1
23164 jeb bush bring mom rally crack awkward joke abuse child 1
4520 fbi comey debunks huma abedins excuse clinton email appear anthony weiners laptop 0
50920 republican senator tax plan need relief passthrough business 0
5852 iran hardliner pragmatists show unity response trump 0
42021 suspect paris magazine attack kill market gunman 4 hostage also dead 0
38737 rioter take selfies torch police car 1
25380 kanye west call beyoncé praise trump onstage tirade new york time 0
68335 vast majority trump employee hope lose november 1
5810 company put billboard finally get blacklivesmatter right without racist connotation 1
50506 5 thing need know dakota access pipeline protest 1

# Third dataset transformation

In [ ]:
news3 = add_transformed_news(news3, 'title', 'news')
news3

,title,real,news
0,Donald Trump Sends Out Embarrassing New Year’...,0,donald trump sends embarrass new year eve mess...
1,Drunk Bragging Trump Staffer Started Russian ...,0,drunk brag trump staffer start russian collusi...
2,Sheriff David Clarke Becomes An Internet Joke...,0,sheriff david clarke become internet joke thre...
3,Trump Is So Obsessed He Even Has Obama’s Name...,0,trump obsess even obamas name cod website
4,Pope Francis Just Called Out Donald Trump Dur...,0,pope francis call donald trump christmas speech
...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,0,mcpain john mccain furious iran treat us sailo...
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,0,justice yahoo settle email privacy classaction...
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,0,sunnistan us ally safe zone plan take territor...
23479,How to Blow $700 Million: Al Jazeera America F...,0,blow 700 million al jazeera america finally ca...
23480,10 U.S. Navy Sailors Held by Iranian Military ...,0,10 us navy sailor hold iranian military – sign...

In [ ]:
for n in [rnd.randint(0,23481) for i in range(0, 15)]:
  print(n, news3.loc[n,'news'], news3.loc[n,'real'])

5501 racist republican congressman steve king display confederate flag office desk 0
15231 great silent majority speaks 0
17057 global warm scammer make million jail time future 0
14546 germany angela merkel make incredibly naive announcement every migrant must leaveafter one condition meet 0
10009 lol cnn live shot heckle trump supporter cnn fake 0
7767 white man yell fcking ns shoot crowd black candidate campaign hq 0
4830 maine gov lepage say he tire caught he never speak press 0
4679 world trade center fell donald trump boast tower big manhattan 0
10812 rare behind scenes look president trump visit netanyahu familyim big league fan 0
10290 sarah huckabeesanders mock medium ignore public testimony prove fake russian dossier part witch hunt hoax 0
17565 uk leader criticize president trump tweet islamic extremist victim assassination plot islamic extremist 0
22391 stunner donald trump next president united state 0
9165 unreal demote deputy ag bail interviewed senate intelligence committee today 0
254 wh staffer explain trumps calm storm comment prove shouldnt potus 0
8480 veteran send loser trump brutal message keep donation 0

# Fourth dataset tranformation

In [ ]:
news4 = add_transformed_news(news4, 'title', 'news')
news4

,title,real,news
0,"As U.S. budget fight looms, Republicans flip t...",1,us budget fight loom republican flip fiscal sc...
1,U.S. military to accept transgender recruits o...,1,us military accept transgender recruit monday ...
2,Senior U.S. Republican senator: 'Let Mr. Muell...,1,senior us republican senator let mr mueller job
3,FBI Russia probe helped by Australian diplomat...,1,fbi russia probe help australian diplomat tipo...
4,Trump wants Postal Service to charge 'much mor...,1,trump want postal service charge much amazon s...
...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,1,fully commit nato back new us approach afghani...
21413,LexisNexis withdrew two products from Chinese ...,1,lexisnexis withdraw two product chinese market
21414,Minsk cultural hub becomes haven from authorities,1,minsk cultural hub become authority
21415,Vatican upbeat on possibility of Pope Francis ...,1,vatican upbeat possibility pope francis visit ...
21416,Indonesia to buy $1.14 billion worth of Russia...,1,indonesia buy 114 billion worth russian jet

In [ ]:
for n in [rnd.randint(0,21417) for i in range(0, 15)]:
  print(n, news4.loc[n,'news'], news4.loc[n,'real'])

10360 us hop ease limit cuba boost reform havana official 1
21021 voice triumph doom north korean presenter back limelight nuclear test 1
15543 merkel want progress coalition talk 10 day 1
19373 china rule communist party expels former gansu party bos graft 1
18044 macris coalition poise win key argentina midterm vote opinion poll 1
7174 conservative concern session trump attorney general 1
1793 treasury chief see competitive corporate tax rate cnbc 1
20515 rohingya insurgent declare temporary ceasefire amid humanitarian crisis 1
1400 trump keep obama rule curb corporate tax inversion deal 1
1561 us senate panel back huntsman trumps ambassador russia 1
7655 clinton email problem resurfaces fbi announces review 1
15848 geneva process appropriate format discus syria peace france 1
17959 uk may say brexit talk must focus future relationship 1
15213 spanish court order release bail catalan parliament speaker court source 1
2566 trump call clinton investigation highly inappropriate top senator 1

# All news dataset

In [ ]:
allnews = pd.concat([news1.drop(columns=['title']), 
                     news2.drop(columns=['title']), 
                     news3.drop(columns=['title']), 
                     news4.drop(columns=['title'])], 
          ignore_index=True)
allnews

        real                                               news
0          1  kandi burruss explodes rape accusation real ho...
1          1      people choice award 2018 best red carpet look
2          1  sophia bush send sweet birthday message one tr...
3          1  colombian singer maluma spark rumour inappropr...
4          1  gossip girl 10 year later upper east siders sh...
...      ...                                                ...
139665     1  fully commit nato back new us approach afghani...
139666     1     lexisnexis withdraw two product chinese market
139667     1                minsk cultural hub become authority
139668     1  vatican upbeat possibility pope francis visit ...
139669     1        indonesia buy 114 billion worth russian jet

[139670 rows x 2 columns]

In [ ]:
allnews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139670 entries, 0 to 139669
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   real    139670 non-null  int64
 1   news    139670 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.1+ MB

In [ ]:
allnews[allnews['news']=='']

       real news
7872      1
11595     1
29519     1
32742     1
41631     1
52214     1
56324     1
60980     1

In [ ]:
allnews = allnews[allnews['news']!='']
allnews.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139662 entries, 0 to 139669
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   real    139662 non-null  int64
 1   news    139662 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.2+ MB

In [ ]:
allnews['real'].value_counts()

1    75398
0    64264
Name: real, dtype: int64

In [ ]:
for n in [rnd.randint(0,139670) for i in range(0, 25)]:
  print(n, allnews.loc[n,'news'], allnews.loc[n,'real'])

25798 3 muslim brother work dems congress catch access unauthorized topsecret government intelone criminal backgroundmay tie muslim brotherhood 1
64864 republican senator wobble house obamacare plan 0
50065 thousand student carry protest trump second week 0
43428 dem senator blast trump call liar live air 1
114623 disaster capitalist bill hillarys clinton foundation use relief donation like atm 0
98831 writer hilariously prank trump trick gop candidate follow 0
102080 here bundy terrorist leave malheur refuge 0
58094 minnesota mob somali rage upscale neighborhood threaten kidnap rape homeowner 1
106169 live feed president trump tennessee nashville rally speech healthcare 0
90366 blue state blue democrat undermine latino leader 0
29425 russia hammer isiskills 600 jihadis china reportedly join force putin wipe isi 1
9730 chris cornell daughter pen heartbreaking letter idol dad 1
68596 antitrump campaigner tear cardboard wall brandenburg gate 0
37184 wikileaks list expose least 65 corporate presstitutes collude hide clinton crime 1
18727 meek mill daze since freed bail 1
68161 hidden order death justice scalia link secret society cibolo ranch 1
94044 guy underwear caught camera torch donald trump sign 1
64105 pelosi say hop us debt ceiling raise without debate 0
37410 protester block le pen supporter try reach rally 0
2109 brad pitt assures fan he suicidal angelina jolie divorce 1
24537 dr martin luther king niece believe congressman lewis actually help america work president 1
62345 exchief vw hold firm grill emission deception new york time 0
89653 investment strategist forecast collapse timeline last gasp economic cycle come 2018 1
86835 20 injured almost 40 detain venezuelan opposition protest 1
128223 obama expect sign bill zika drug development white house 1

In [ ]:
allnews.to_csv("drive/MyDrive/Colab_Notebooks/SDA_upskill/News/data/AllNews.csv", index=False)

# Summary

Titles of news in four datasets were analysed, unnecessary columns were removed, as well as rows with nulls in title or label. Common label 'real' means that news are not fake. Titles were transformed by deletion of punctuation (extended for this project on the basis of data analysis), using lowercase, tokenization, deletion of stopwords (also extended) and lemmatization. Transformed titles were saved in new column 'news'. Then datasets were concatenated. It turned out that there were several empty news after transformation, so these rows were removed. Final dataset contained 139.662 news, 64.264 of which were fake and 75.398 were real. It was saved to csv file.